{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>RouletteBOT - Cea mai eficienta metoda de a face bani la ruleta online</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">


</head>

<body>


        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">

              <button type="button" id="butonuldinnav" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" rel="home"  title="RouletteBot">
                <img style="max-width:100px; margin-top: -15px; width:50%;"
                     src="{% static 'app/media/rlogoblue.png' %}" onclick="window.location='https://www.roulettebot.ro/';">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contul meu
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://www.roulettebot.ro/contuser/">Schimbare nume de utilizator</a></li>
                      <li><a href="https://www.roulettebot.ro/contparola/">Schimbare parola</a></li>
                    </ul>
                <li><a href="https://www.roulettebot.ro/topjucatori/">Top Jucatori</a></li>
                <li><a href="https://www.roulettebot.ro/faq/">Intrebari frecvente</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <p class="contentofcont"><span class="textmare">Schimbare parola</p></span><br>
        <p class="contentofcont">
        {{eroare1}}
        </p>
        <p class="contentofcont">Nume de utilizator:</p>
        <form method="POST" action="{% url 'contparola' %}">{% csrf_token %}
        <input type="text" name="username" class="center-block">


        <br><br>
        <p class="contentofcont">Parola veche:</p>

        <input type="text" name="parolaveche" class="center-block">
        <br><br>
        <p class="contentofcont">Parola noua:</p>

        <input type="text" name="parolanoua" class="center-block">
        <br>

        <br>
        <input type="submit" name="submit" value="Schimba" class="center-block">
        </form>

        <br><br><br><br><br><br><br>
        <hr style="width:50%;border: 1px solid dodgerblue;">
        <br>
        <p class="foote">

            Contact: <strong>support@roulettebot.ro</strong><br>
            ©2022 RouletteBot®
        </p>
</body>
</html>