{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>RouletteBOT - Cea mai eficienta metoda de a face bani la ruleta online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">


</head>
<body>


       <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">

              <button type="button" id="butonuldinnav" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" rel="home"  title="RouletteBot">
                <img style="max-width:100px; margin-top: -15px; width:50%;"
                     src="{% static 'app/media/rlogoblue.png' %}" onclick="window.location='https://www.roulettebot.ro/';">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">

                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contul meu
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://www.roulettebot.ro/contuser/">Schimbare nume de utilizator</a></li>
                      <li><a href="https://www.roulettebot.ro/contparola/">Schimbare parola</a></li>
                    </ul>
                <li><a href="https://www.roulettebot.ro/topjucatori/">Top Jucatori</a></li>
                <li><a href="https://www.roulettebot.ro/faq/">Intrebari frecvente</a></li>
              </ul>
            </div>
          </div>
        </nav>

            <br>
            <p class="texts1">
                <strong>INTREBARI FRECVENTE</strong>
            </p>
            <br><br>
            <p class="intrebarefaq">
                Cum pot folosi aplicatia RouletteBot ?
            </p>
            <br>
            <p class="raspunsfaq">
                In momentul in care veti genera un cont, veti primi pe mail un link de descarcare al aplicatiei, impreuna cu instructiunile de utilizare si contul generat de noi pentru folosirea aplicatiei. Datele contului pot fi schimbate din <strong>Contul meu><a href="https://www.roulettebot.ro/contuser/">Schimbare nume de utilizator</a> sau <a href="https://www.roulettebot.ro/contparola/">Schimbare parola</a></strong>. Aplicatia si instructiunile se afla intr-o arhiva si o puteti dezarhiva cu <a href="https://www.win-rar.com/predownload.html?&L=0">Winrar</a> sau orice alta aplicatie de dezarhivare. Intrati pe acest link in caz ca aveti probleme cu dezarhivarea <a href="https://www.youtube.com/watch?v=njweDaCGa0E">https://www.youtube.com/watch?v=njweDaCGa0E</a>.
            </p>
            <br>
            <img class="giful" src="{% static 'app/media/rbot.gif' %}">
            <br><br><br><br><br><hr style="width:50%;border: 1px solid dodgerblue;">
            <p class="intrebarefaq">
                Cati bani pot castiga?<br><br>
            </p>
            <img class="tabelul" src="{% static 'app/media/tabelplati.png' %}"><br><br>

            <p class="raspunsfaq">
                In acest tabel putem observa cati bani putem castiga pe ora. De asemenea recomandam sa nu incepeti cu mai mult de 5 lei pariu initial. Cu cat numarul de culori consecutive este mai mare, cu atat riscul de pierdere este mai mic. Mai multe instructiuni legate de acest subiect se afla in email-ul primit odata cu cumpararea aplicatiei.
            </p>
            <br><br><br><br><hr style="width:50%;border: 1px solid dodgerblue;"><br><br>
            <p class="intrebarefaq">Windows Security Alert</p><br><br>
            <p class="raspunsfaq">In caz ca va apare <img class="winfire" src="{% static 'app/media/winfir.png' %}"> apasati pe butonul <strong>Allow access</strong><br><br>
            </p>
            <br><br><br><br><br>
            <hr style="width:50%;border: 1px solid dodgerblue;">
            <p class="raspunsfaq">
                Pentru orice alte intrebari scrie-ne un email la <strong>support@roulettebot.ro</strong>
            </p>
            <br><br>

        <br>
        <p class="foote">

            Contact: <strong>support@roulettebot.ro</strong><br>
            ©2022 RouletteBot®
        </p>
</body>
</html>